$primary: #000000;
$secondary: rgba(0, 0, 0, 0.8);
$accent: #ff1e56;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$font-color: $accent;
$background-color: rgba(0, 0, 0, 0.8);

// Color Overide
$red: $accent;
$input-text-color: $accent;
$input-label-color: $accent;
